<!-- container of profile of user-->
<div class="container container-fluid container-profile">
	<div class="alert alert-success"> أهلا  {{user.username}}
		<a class="close" data-dismiss="alert" aria-label="close"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<div class="container profile-panel">
		<div class="list-group">
 			<p id="toggle-purchases" class="list-group-item">مشترياتي تم شراؤها
 				<i class="badg" aria-hidden="true">0</i>
 			</p>
  			<div id="cont-purchases" class="toggling-cont">
  				<p class="purchases">kjjljln
  					<span class="date-purchases">dwd</span>
  				</p>
  			</div>
  			<p id="toggle-basket" class="list-group-item">سلة المشتريات
  				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
  			</p>
  			<div id="cont-basket" class="toggling-cont">
  				<p class="basket-items">wdewdfwe
  				<i class="fa fa-times"></i>
  				</p>
  			</div>
  			<p class="list-group-item" id="toggle-messages">الرسائل
  				<i class="badg" aria-hidden="true">0</i>
  			</p>
  			<div id="cont-messages" class="toggling-cont">
  				<p class="messages">
  					<a href="#" class="message">vvr</a>
  					<a href="#" class="name-message">fefe</a>
  					<span class="date-message">fef</span>
  				</p>
  			</div>
  			<p class="list-group-item" id="toggle-credit">الرصيد
  				<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
			</p>
  			<div id="cont-credit" class="toggling-cont">
  			</div>
		</div>
	</div>
</div>
<!-- FOOTER -->
		<footer style="">
		    <div class="container">
		       <div class="row clearfix">
		        	<div class="footer-sections col-sm-6 col-md-4 col-xs-12 col-lg-4 clearfix">
		               <div class="jumbotron">
		  					<div class="container">
		    					<h2 class="website-logo">اسم الموقع</h2>
							</div>
						</div>
		              </div>
		              <div class="footer-sections col-sm-6 col-md-4 col-xs-12 col-lg-4 clearfix">
		                  <div class="jumbotron">
		  					<div class="container links">
		    					<a href="#">ماذا عنا</a>
		    					<a href="#">الخصوصية والأمان</a>
		  					</div>
						</div>
		              </div>
		              <div class="footer-sections col-sm-6 col-md-4 col-xs-12 col-lg-4 clearfix">
		                <div class="jumbotron">
		  					<div class="container">
		          				<h3>اشترك ليصلك كل جديد  <i class="fa fa-envelope" aria-hidden="true"></i></h3>
		      					<input type="email" class="form-control" placeholder="your email">

		      					<div class="icons">
		      						<h3>تابعنا</h3>
		     		 				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
							      	</a>
		      						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
		      						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
		      						<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
									</a>
		                  		</div>
			  				</div>
						</div>
		            </div>
		        </div>
		    </div>
		</footer>
